<div class="container">

  <%= form_with(model: flat, local: true) do |f| %>
    <%= f.text_field :title %>
    <%= f.text_field :category%>
    <%= f.text_field :description, as: :text %>

    <%= f.select :nb_of_bathrooms, {class: 'form-control btn-lg'}%>
    <!-- Active Storage Way
    <%= f.file_field :photo, class:"form-control" %>
    <%= f.file_field :photos, multiple: true, class:"form-control", direct_upload: true %>
    -->
    <%= f.file_field :image, label: "Vos photos" %>
    <%= f.button :submit, value: "Je crée mon logement" %>

  <% end %>
</div>
<div class="container">
  <div class="DashboardContainer"></div>
</div>
