

  <div class="new_flat_form text-center col-xs-12 col-sm-8 col-md-6">
    <%= simple_form_for @flat do |f| %>

      <div class="form-group">
        <div class="col-xs-6">
          <%= f.input :title, class: "form-control", label:"Titre" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-6">
        <%= f.input :category, as: :select, collection: Flat::CATEGORIES, class: "form-control", label: "Catégorie"%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-10 col-xs-offset-1">
          <%= f.input :description, as: :text, size:"30x5", class: "form-control", label:"Description"%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-6">
          <%= f.input :nb_rooms,  as: :decimal, class: "form-control", label:"Nombre de chambres"%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-6">
        <%= f.input :nb_of_bathrooms, as: :decimal, class: "form-control", label:"Nombre de salles de bains"%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-6">
          <%= f.input :price_per_night,  as: :decimal, class: "form-control", label:"Prix par nuit"%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <%= f.input :animals, as: :boolean, checked_value: true, unchecked_value: false, class: "form-control", label:"J'accepte les animaux?"%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <%= f.input :photos, as: :attachinary, class:"form-control", label:"Vos photos" %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-xs-12">
          <%= f.button :submit, class:"btn btn-success btn-rounded" %>
        </div>
      </div>

    <% end %>
  </div>
  <img src="" alt="" class="upload-preview">
