
<div class="new_flat_form_bg" style="background-image:url('<%= image_path "Patterns/trianglify.svg" %>'); background-repeat: no-repeat; background-size:cover;">
  <div class="new_flat_form text-center">
    <%= simple_form_for @flat do |f| %>
       <% if @flat.errors.any? %>
        <div class="errors">
          <h2><%= pluralize(@flat.errors.count, 'erreur') %> <%= @flat.errors.count == 1 ? "a" : "ont"%> empêché de <%= params[:_method] === "patch" ? "modifier" : "créer"%> votre logement</h2>
          <ul>
            <% @flat.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
          <p><%= params[:_method] %></p>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.input :title, class: "form-control", label:"Titre" %>
      </div>

      <div class="form-group">
        <%= f.input :description, as: :text, size:"30x5", class: "form-control", label:"Description"%>
      </div>

      <div class="form-group">
        <%= f.input :category, as: :select, collection: Flat::CATEGORIES, class: "form-control", label: "Catégorie"%>
      </div>

      <div class="form-group">
        <%= f.input :nb_rooms,  as: :decimal, class: "form-control", label:"Nombre de chambres"%>
      </div>

      <div class="form-group">
        <%= f.input :nb_of_bathrooms, as: :decimal, class: "form-control", label:"Nombre de salles de bains"%>
      </div>

      <div class="form-group">
        <%= f.input :price_per_night,  as: :decimal, class: "form-control", label:"Prix par nuit"%>
      </div>

      <div class="form-group">
        <%= f.input :animals, as: :boolean, checked_value: true, unchecked_value: false, class: "form-control", label:"J'accepte les animaux?"%>
      </div>

      <div class="form-group">
        <%= f.input :photos, as: :attachinary, class:"form-control", label:"Vos photos" %>
      </div>

      <%= f.button :submit, class:"btn btn-success btn-rounded" %>

    <% end %>
  </div>
  <img src="" alt="" class="upload-preview">
</div>
