<div id="new_flat_form_container">
    <div id="new_flat_form">
        <%= form_with(model:@flat, local:true) do |f| %>
          <% if @flat.errors.any? %>
            <div id="error-explanation">
              <ul>
               <% @flat.errors.each do |key, value| %>
                <li id="<%=key%>"><%= key %> <%= value %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :titre %>
            <%= f.text_field :title, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :catégorie %>
            <%= f.select :category, ["maison","appartement","terrain","caravane","camping-car"], class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_field :description, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :image %>
            <%= f.hidden_field :image, class:"hidden-upload", value: @flat.cached_image_data%>
            <%= f.file_field :image, class:"form-control upload-file" %>
          <div class="form-group">
            <%= f.submit class: "btn btn-primary" %>
          </div>

        <% end %>
      </div>
    </div>
</div>
