<div class="container">
  <%= simple_form_for flat do |f| %>
    <%= f.input :title %>
    <%= f.input :category%>
    <%= f.input :description, as: :text %>

    <%= f.input :nb_of_bathrooms, label: "Nombre de salles de bain", input_html: {class: 'form-control btn-lg'}, collection:1..5 %>
    <%= f.file_field :photo, class:"form-control" %>
    <%= f.file_field :photos, multiple: true, class:"form-control", direct_upload: true %>

    <%= f.button :submit, value: "Je crée mon logement" %>
  <% end %>
</div>
