<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />


<div class="main">
  <h1>Les logements disponibles</h1>
  <div id="results-container">

    <div id="results">
        <% @flats.each_with_index do |flat, index| %>
           <div class="flat-card" id="<%= index %>">
            <div id="flat-slider">
              <p>Some pics here</p>
              <hr class="hr">
            </div>
            <div class="flat-description">
              <h2><%= flat.title %></h2>
              <h3><%= flat.description.truncate(100) %></h3>
              <div id="flat-tags">
                <span class="flat-info"><%= flat.price_per_night %> DU/nuit</span>
                <span class="flat-info"><%= flat.category%></span>
              </div>
            </div>
          </div>
        <% end %>

        <div class="flickr_pagination">
           <div class="page_info">
            <%= page_entries_info @flats %>
            <br>
            <br>
          </div>
          <%= will_paginate @flats, :container => false %>
        </div>

      </div>

    <div id="map" data-markers="<%= @markers.to_json %>">
    <!-- Map goes in here -->
    </div>
    <div id='geocoder' class='geocoder'></div>

  </div>
