
<div class="container text-center flat-title">
  <h1><%= @flat.title %></h1>
  <h2><%= @availables %></h2>
</div>

<div class="container-fluid text-center">
    <div class="carousel__panorama">
      <% @flat_pics.each_with_index do |photo, index| %>
        <div id="item<%= index+1 %>">
          <%= cl_image_tag photo.strip, width:700, height:700, crop: :fill, class:"zoomable"%>
        </div>
      <% end %>
    </div>
</div>

<div class="container-fluid">
  <p id="zoomPane"></p>
</div>




  <div class="container">
       <div class="caracteristics">
        <div class="caracteristics__card">
          <div class="caracteristics__header">
            <p class="card__header">Prix/nuit, en DU</p>
          </div>
          <div class="card__body">
            <p><%= @flat.price_per_night%></p>
          </div>
        </div>

        <% if @flat.animals? %>
          <div class="caracteristics__card">
            <div class="caracteristics__header">
              <p class="card__header">Animaux</p>
            </div>
            <div class="card__body">
              <p>Oui</p>
              <p class="dog">🐶</p>
            </div>
          </div>
          <% else %>
          <div class="caracteristics__card">
            <div class="caracteristics__header">
              <p class="card__header">Animaux</p>
            </div>
            <div class="card__body">
              <p>Désolé, pas d'animaux chez moi.</p>
          </div>
          </div>
        <% end %>

        
        <% if @flat.category == "camping-car" || @flat.category == "caravane" || @flat.category == "terrain"%>
        
        <% else %>
        <div class="caracteristics__card">
          <div class="caracteristics__header">
            <p class="card__header">Chambres</p>
          </div>
            <div class="card__body">
              <p><%= @flat.nb_rooms %></p>
            </div>
        </div>

        <div class="caracteristics__card">
          <div class="caracteristics__header">
          <p class="card__header">Salles de bain</p>
          </div>
          <div class="card__body text-center">
            <p><%= @flat.nb_of_bathrooms %></p>
          </div>
        </div>
          
        <% end %>
        
          </div>
        </div>
      </div>
</div>

<div class="container-fluid g1bg">
  <div class="container text-center">
  <!-- start of left-portion-->
    <div class="row">
      <div class="col-xs-12 col-md-8 text-center">
        <div class="flat-description">
          <h2 class="flat-h2">Description</h2>
          <p><%= @flat.description %></p>
        </div>
        <div class="flat-description">
          <h2 class="flat-h2">Equipements</h2>
          <ul class="list-inline">
            <li><%= cl_image_tag "l79k8dkbuffimtaivx7n", height: 20, width:20 %> wifi</li>
            <li><%= cl_image_tag "biking", height:40, width:40 %>Vélos</li>
            <li><%= cl_image_tag "mta3d2nqqc1wvw4ve2lo", height: 40, width:40 %>Ptit-dej</li>
            <li>Ping-pong</li>
            <%= @reviews %>
 
          </ul>
        </div>
        <div class="flat-description">
          <h2 class="flat-h2">Localisation</h2>
          <div id="flat-map" data-marker="<%= @marker %>"></div>
        </div>
        <div class="flat-description">
          <h2 class="flat-h2">Les avis</h2>
          <% if @flat.nb_of_reviews == 0  %>
            <p>Ce logement n'a pas encore été noté, soyez le premier a laisser un avis</p>
            <% unless !user_signed_in?%>
              <%= render 'flat_reviews/form', flat: @flat %>
            <% end %>
          <% else %>
           <h3> Ce logement a reçu <%= @flat.nb_of_reviews %> avis</h3>
           <%= @flat.flat_reviews.each do |review| %>
            <div class="flat-reviews--show">
              <p style="display:inline;"><%=formatDate(review.created_at)%></p>
              <p style="display:inline;" ><%= review.content %></p>
            </div>
            <% end %>
          <% end %>
          
        </div>
      </div>
    <div class="col-xs-12 col-md-4"> 
      <div class="booking-form"> 
      <span>Choisissez les dates de votre séjour</span>
      <label style="display:block;"for="start_date">Arrivée</label>
      <input type="text" class="booking-start_date" name="start_date" value="<%=@start%>">
      <label for="end_date" style="display:block;">Départ</label>
      <input type="text" class="booking-end_date"name="end_date" value="<%= @end %>">
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
 Réserver ce logement 
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Détails de la réservation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary">Confimer</button>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>




