<!DOCTYPE html>
<!--

                              ..    .         s    
                  oe    x .d88"    @88>      :8    
                .@88     5888R     %8P      .88    
     uL     ==*88888     '888R      .      :888ooo 
 .ue888Nc..    88888      888R    .@88u  -*8888888 
d88E`"888E`    88888      888R   ''888E`   8888    
888E  888E     88888      888R     888E    8888    
888E  888E     88888      888R     888E    8888    
888E  888E     88888      888R     888E   .8888Lu= 
888& .888E     88888     .888B .   888&   ^%888*   
*888" 888&     88888     ^*888%    R888"    'Y"  looks like you found us ;)    
 `"   "888E '**%%%%%%**    "%       ""           join our cryptocommunity   
.dWi   `88E                                      or launch your own libre money
4888~  J8%                                       by following the tutorials  
 ^"===*"`                                        at duniter.org
                                                 To freedom ;)

 -->

<html>
  <head>
  <!DOCTYPE html>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="css/animations.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
     <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body class="app">
    <%= render 'shared/navbar' %>
    <%= render "shared/flash" %>

    <%= yield %>

    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'map' %>
  </body>
</html>
